{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}

<div class="row" style="padding-bottom: 10%; padding-right: 15%; padding-left: 5%">
    <div class="col align-center" style="align-self: center; align-items: center;">
        <iframe style="width: 130vh; height: 70vh; align-self: center;"
            src="https://console.dialogflow.com/api-client/demo/embedded/c1c2fd78-e738-4ed0-9bb6-55998c131ae1">
        </iframe>
    </div>
</div>

{% endblock %}
