{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}

<!--TODO: test this-->

<div id="coming_soon">
    <!--TODO: Insert background demo video here-->
    <div class="align-center medium-padding">
        <a href="{{ chat_url }}">
            <button type="button" class="btn btn-primary">Start Chatting Now</button>
        </a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div
                {% if user.light_mode == True %}
                class="card text-center"
                {% else %}
                class="card text-center no-bg"
                {% endif %}
            >
                <div class="card-header small-padding">
                    <h5 class="card-title">
                        Are you a developer?
                    </h5>
                </div>
                <div class="card-body">
                    This project is open source and completely documented.<br>
                    Get started today running your own instance or contribute to the codebase!
                </div>
                <div class="card-footer">
                    <a href="{{ doc_url }}">
                        <button type="button" class="btn btn-primary">Read the Doc</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div
                {% if user.light_mode == True %}
                class="card text-center"
                {% else %}
                class="card text-center no-bg"
                {% endif %}
            >
                <div class="card-header">
                    <h5 class="card-title">
                        Do you want to play in your own World?
                    </h5>
                </div>
                <div class="card-body">
                    [NOT IMPLEMENTED YET]<br>
                    If you don't want to lose your progress everytime your session ends,
                    you can create an account for free. An account enables you to customize the viewport,
                    save your progress and even upload your own worlds to play in.
                    So what are you waiting for?
                </div>
                <div class="card-footer">
                    <a href="{{ register_url }}">
                        <button type="button" class="btn btn-primary">Register today!</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
