{% extends "base.html" %}
{% block title %}NLU-Entities{% endblock %}
{% block content %}

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <p class="h1">
            New Words
            <!-- TODO: make button appear right next to heading, not below -->
            {% if user.light_mode == True %}
            <form method="get" action="" style="padding: 1%">
                <!--Submit values/function-->
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </form>
            {% else %}
            <form method="get" action="" style="padding: 1%;">
                <!--Submit values/function-->
                <button class="btn btn-outline-light" type="submit">Submit</button>
            </form>
            {% endif %}
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">text</th>
                    <th scope="col">status</th>
                    <th scope="col">parent entity</th>
                    <th scope="col">Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for word in new_words %}
                <form method="post" action="">
                    <tr>
                        <th scope="row">
                            {{word.id}}
                        </th>
                        <td>
                            {{word.text}}
                            <input value="{{word.text}}" name="word_text" hidden>
                        </td>
                        <td>
                            <!--Status-->
                            <select class="form-select" name="word_status">
                                <option value="to_do"{% if word.status == "to_do" %} selected {% endif %}>to do</option>
                                <option value="categorized"{% if word.status == "categorized" %} selected {% endif %}>categorized</option>
                                <option value="ignore"{% if word.status == "ignore" %} selected {% endif %}>ignore</option>
                            </select>
                        </td>
                        <td>
                            <!--Parent Entity-->
                            <select class="form-select" name="word_parent">
                                {% for entity in entities %}
                                <option value="{{entity.id}}" {% if word.entity == entity.id %} selected {% endif %}>{{entity.name}}</option>
                                {% endfor %}
                            </select>
                            <input class="form-control" name="word_parent_input">
                        </td>
                        <td>
                            {% if user.light_mode == True %}
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                            {% else %}
                            <button class="btn btn-outline-light" type="submit">Submit</button>
                            {% endif %}
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <p class="h1">
            Old Words
            <!-- TODO: make button appear right next to heading, not below -->
            {% if user.light_mode == True %}
            <form method="get" action="" style="padding: 1%">
                <!--Submit values/function-->
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </form>
            {% else %}
            <form method="get" action="" style="padding: 1%;">
                <!--Submit values/function-->
                <button class="btn btn-outline-light" type="submit">Submit</button>
            </form>
            {% endif %}
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">text</th>
                    <th scope="col">status</th>
                    <th scope="col">parent entity</th>
                    <th scope="col">Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for word in old_words %}
                <form method="post" action="">
                    <tr>
                        <th scope="row">
                            {{word.id}}
                        </th>
                        <td>
                            {{word.text}}
                            <input value="{{word.text}}" name="word_text" hidden>
                        </td>
                        <td>
                            <!--Status-->
                            <select class="form-select" name="word_status">
                                <option value="to_do"{% if word.status == "to_do" %} selected {% endif %}>to do</option>
                                <option value="categorized"{% if word.status == "categorized" %} selected {% endif %}>categorized</option>
                                <option value="ignore"{% if word.status == "ignore" %} selected {% endif %}>ignore</option>
                            </select>
                        </td>
                        <td>
                            <!--Parent Entity-->
                            <select class="form-select" name="word_parent">
                                {% for entity in entities %}
                                <option value="{{entity.id}}" {% if word.entity == entity.id %} selected {% endif %}>{{entity.name}}</option>
                                {% endfor %}
                            </select>
                            <input class="form-control" name="word_parent_input">
                        </td>
                        <td>
                            {% if user.light_mode == True %}
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                            {% else %}
                            <button class="btn btn-outline-light" type="submit">Submit</button>
                            {% endif %}
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        <div style="padding-top: 1%;padding-bottom: 1%">
            <p class="h2">
                What are Entities?
            </p>
            <p>
                <strong>Entities</strong> are words that hold meaning.<br>
                In our commonly spoken languages every word spoken holds meaning. <br>
                Of course not all words are created equally. Some words like <strong>nouns</strong>
                hold more meaning in a sentence than <strong>filling words</strong>.<br>
                This is best seen in an example:<br>
                "Ooohhh, have you eaten the cheese or is there still some left for me?"<br>
                In this example we have some important words and some unimportant.<br>
                <em>"Ooohhh"</em> is rather unimportant and doesn't hold much meaning.<br>
                In contrast to that <em>"cheese"</em>, <em>"eaten"</em> and <em>"you"</em>
                are important to understand the sentence.<br>
                These words can now be mapped to <strong>Entities</strong>:<br>
                - cheese --> Food<br>
                - eaten --> Consuming<br>
                - you --> Person<br>
                The NLU system then tries to figure out what's the meaning behind the sentence using the entities found.<br>
                For a good NLU system you should mark as many Entities as possible!<br>
                For more information about the NLU system; check out the <a href="/resources">resources</a><br>
            </p>
            <p class="h2">
                Which Entities are found in this table?
            </p>
            <p>
                All the Entities in this table are found words in conversation with the bot.<br>
                Everytime a new question is ask at the NLU system, it searches it for new words.<br>
                If it finds a new word, the word will get added to this list.<br>
                In the beginning the amount of new words will be very high since you're starting from scratch,<br>
                but with time the amount will decrease drastically until it is a rare occurrence to se a new word pop up.<br>
            </p>
        </div>
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}
