{% extends "base.html" %}
{% block title %}Platforms{% endblock %}
{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <!-- Discord -->
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center" style="background-color: #7289DA">
                    <h2><strong>Discord</strong></h2>
                </div>
                <!-- activated -->
                {% if platform_status['Discord'] == "Activated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#198754;">Online</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center h4">
                        Calls
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls Today
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_today['Discord_commands']*(100/(calls_today['Discord_commands']+calls_today['Discord_nlu']))}}%;">
                                        {{calls_today['Discord_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_today['Discord_nlu']*(100/(calls_today['Discord_commands']+calls_today['Discord_nlu']))}}%;">
                                        {{calls_today['Discord_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Calls this Week
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_week['Discord_commands']*(100/(calls_week['Discord_commands']+calls_week['Discord_nlu']))}}%;">
                                        {{calls_week['Discord_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_week['Discord_nlu']*(100/(calls_week['Discord_commands']+calls_week['Discord_nlu']))}}%;">
                                        {{calls_week['Discord_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #f78d98"> Deactivate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- deactivated -->
                {% else %}{% if platform_status['Discord'] == "Deactivated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#dc3545;">Offline</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #5dc796"> Activate</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- disconnected -->
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" id="platform_Discord" name="platform" value="Discord">
                        <div class="mb-3">
                            <label for="display_name_Discord" class="form-label">Display name of the bot</label>
                            <input type="text" class="form-control" id="display_name_Discord" name="display_name">
                        </div>
                        <div class="mb-3">
                            <label for="mail_Discord" class="form-label">Email address of the bot account</label>
                            <input type="email" class="form-control" id="mail_Discord" name="mail">
                        </div>
                        <div class="mb-3">
                            <label for="pw1_Discord" class="form-label">Password of the bot account</label>
                            <input type="password" class="form-control" id="pw1_Discord" name="pw1">
                        </div>
                        <div class="mb-3">
                            <label for="pw2_Discord" class="form-label">Repeat the Password</label>
                            <input type="password" class="form-control" id="pw2_Discord" name="pw2">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary text-center">Connect</button>
                        </div>
                    </form>
                </div>
                {% endif %}{% endif %}
            </div>
        </div>
        <!-- Telegram -->
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center" style="background-color: #179CDE">
                    <h2><strong>Telegram</strong></h2>
                </div>
                <!-- activated -->
                {% if platform_status['Telegram'] == "Activated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#198754;">Online</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center h4">
                        Calls
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls Today
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_today['Telegram_commands']*(100/(calls_today['Telegram_commands']+calls_today['Telegram_nlu']))}}%;">
                                        {{calls_today['Telegram_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_today['Telegram_nlu']*(100/(calls_today['Telegram_commands']+calls_today['Telegram_nlu']))}}%;">
                                        {{calls_today['Telegram_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Calls this Week
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_week['Telegram_commands']*(100/(calls_week['Telegram_commands']+calls_week['Telegram_nlu']))}}%;">
                                        {{calls_week['Telegram_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_week['Telegram_nlu']*(100/(calls_week['Telegram_commands']+calls_week['Telegram_nlu']))}}%;">
                                        {{calls_week['Telegram_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #f78d98"> Deactivate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- deactivated -->
                {% else %}{% if platform_status['Telegram'] == "Deactivated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#dc3545;">Offline</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #5dc796"> Activate</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- disconnected -->
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" id="platform_Telegram" name="platform" value="Telegram">
                        <div class="mb-3">
                            <label for="display_name_Telegram" class="form-label">Display name of the bot</label>
                            <input type="text" class="form-control" id="display_name_Telegram" name="display_name">
                        </div>
                        <div class="mb-3">
                            <label for="mail_Telegram" class="form-label">Email address of the bot account</label>
                            <input type="email" class="form-control" id="mail_Telegram" name="mail">
                        </div>
                        <div class="mb-3">
                            <label for="pw1_Telegram" class="form-label">Password of the bot account</label>
                            <input type="password" class="form-control" id="pw1_Telegram" name="pw1">
                        </div>
                        <div class="mb-3">
                            <label for="pw2_Telegram" class="form-label">Repeat the Password</label>
                            <input type="password" class="form-control" id="pw2_Telegram" name="pw2">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary text-center">Connect</button>
                        </div>
                    </form>
                </div>
                {% endif %}{% endif %}
            </div>
        </div>
        <!-- Youtube -->
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center" style="background-color: #FF0000">
                    <h2><strong>Youtube</strong></h2>
                </div>
                <!-- activated -->
                {% if platform_status['Youtube'] == "Activated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#198754;">Online</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center h4">
                        Calls
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls Today
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_today['Youtube_commands']*(100/(calls_today['Youtube_commands']+calls_today['Youtube_nlu']))}}%;">
                                        {{calls_today['Youtube_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_today['Youtube_nlu']*(100/(calls_today['Youtube_commands']+calls_today['Youtube_nlu']))}}%;">
                                        {{calls_today['Youtube_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Calls this Week
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_week['Youtube_commands']*(100/(calls_week['Youtube_commands']+calls_week['Youtube_nlu']))}}%;">
                                        {{calls_week['Youtube_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_week['Youtube_nlu']*(100/(calls_week['Youtube_commands']+calls_week['Youtube_nlu']))}}%;">
                                        {{calls_week['Youtube_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #f78d98"> Deactivate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- deactivated -->
                {% else %}{% if platform_status['Youtube'] == "Deactivated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#dc3545;">Offline</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #5dc796"> Activate</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- disconnected -->
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" id="platform_Youtube" name="platform" value="Youtube">
                        <div class="mb-3">
                            <label for="display_name_Youtube" class="form-label">Display name of the bot</label>
                            <input type="text" class="form-control" id="display_name_Youtube" name="display_name">
                        </div>
                        <div class="mb-3">
                            <label for="mail_Youtube" class="form-label">Email address of the bot account</label>
                            <input type="email" class="form-control" id="mail_Youtube" name="mail">
                        </div>
                        <div class="mb-3">
                            <label for="pw1_Youtube" class="form-label">Password of the bot account</label>
                            <input type="password" class="form-control" id="pw1_Youtube" name="pw1">
                        </div>
                        <div class="mb-3">
                            <label for="pw2_Youtube" class="form-label">Repeat the Password</label>
                            <input type="password" class="form-control" id="pw2_Youtube" name="pw2">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary text-center">Connect</button>
                        </div>
                    </form>
                </div>
                {% endif %}{% endif %}
            </div>
        </div>
        <!-- Twitch -->
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center" style="background-color: #9146FF">
                    <h2><strong>Twitch</strong></h2>
                </div>
                <!-- activated -->
                {% if platform_status['Twitch'] == "Activated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#198754;">Online</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center h4">
                        Calls
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls Today
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_today['Twitch_commands']*(100/(calls_today['Twitch_commands']+calls_today['Twitch_nlu']))}}%;">
                                        {{calls_today['Twitch_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_today['Twitch_nlu']*(100/(calls_today['Twitch_commands']+calls_today['Twitch_nlu']))}}%;">
                                        {{calls_today['Twitch_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Calls this Week
                            </div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{calls_week['Twitch_commands']*(100/(calls_week['Twitch_commands']+calls_week['Twitch_nlu']))}}%;">
                                        {{calls_week['Twitch_commands']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{calls_week['Twitch_nlu']*(100/(calls_week['Twitch_commands']+calls_week['Twitch_nlu']))}}%;">
                                        {{calls_week['Twitch_nlu']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #f78d98"> Deactivate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- deactivated -->
                {% else %}{% if platform_status['Twitch'] == "Deactivated" %}
                <div class="card-body">
                    <div class="text-center h4">
                        Status
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <span style="color:#dc3545;">Offline</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn" style="background-color: #5dc796"> Activate</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- disconnected -->
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" id="platform_Twitch" name="platform" value="Twitch">
                        <div class="mb-3">
                            <label for="display_name_Twitch" class="form-label">Display name of the bot</label>
                            <input type="text" class="form-control" id="display_name_Twitch" name="display_name">
                        </div>
                        <div class="mb-3">
                            <label for="mail_Twitch" class="form-label">Email address of the bot account</label>
                            <input type="email" class="form-control" id="mail_Twitch" name="mail">
                        </div>
                        <div class="mb-3">
                            <label for="pw1_Twitch" class="form-label">Password of the bot account</label>
                            <input type="password" class="form-control" id="pw1_Twitch" name="pw1">
                        </div>
                        <div class="mb-3">
                            <label for="pw2_Twitch" class="form-label">Repeat the Password</label>
                            <input type="password" class="form-control" id="pw2_Twitch" name="pw2">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary text-center">Connect</button>
                        </div>
                    </form>
                </div>
                {% endif %}{% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
